@import "../../global.scss";

.intro{
    background-color: black;

    // Add a custom Background Image
    //background: url('https://wallpapercave.com/wp/8l83IuI.jpg');
    
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;


    color: $secondaryColor;

    display: flex;
    flex-direction: row;
    justify-content: center;



    .center{

        overflow: hidden;
        position: relative;

            
        // Mobile Config
        @include mobile{
            padding-left: 0;
            align-items: center;
        }

        
        

        .wrapper{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1{
                font-size: 60px;

                // Mobile Config
                @include mobile{
                    font-size: 40px;
                }

            }
            h2{
                font-size: 35px;
                color: white;
            }
            h3{
                font-size: 30px;
                color: rgb(14, 145, 36);

                // Mobile Config
                @include mobile{
                    font-size: 20px;
                    
                }
                }

                span{
                    font-size: inherit;
                    

                    .ityped-cursor{
                        animation: blink 1s infinite;
                    }

                    @keyframes blink {
                        50%{ opacity: 0;
                        }
                        
                    }

                }
            }
            

        a{
            position: absolute;
            bottom: 10px;
            align-items: center;
            justify-content: center;
            //left: 40%;

            @include mobile{
                display: none;
            }

            img{
                width: 90px;
                animation: fadeinout 4s linear infinite;
                opacity: 0;
            }

            @keyframes fadeinout {
                50% { opacity: 1; 
                }
            }


        }


        
    }
}