@import "../../global.scss";

.topbar{
    width: 100%;
    height: 65px;

    background-color:transparent;

    color: $secondaryColor;

    position: fixed;
    top: 0;
    z-index: 3;

    transition: all 1s ease;

    overflow: hidden;
    
    .wrapper{
        padding: 10px 40px;
        
        display: flex;
        align-items: center;
        justify-content: space-between;



            display: flex;
            align-items: center;

            .logo{
                font-size: 40px;
                font-weight: 700;
                text-decoration: none;
                color: inherit;
                margin-right: 40px;

                // Mobile Config
                @include mobile{
                    font-size: 30px;
                    overflow: hidden;
                }
            }

            .fox_pic{
                height: 40px;
                width: 40px;

                @include mobile{
                    display: none;
                }
            }

            .itemContainer{
                display: flex;

                align-items: center;
                margin-left: 50px;

                @include mobile{
                    display: none;
                }

                .icon{
                    font-size: 40px;
                    margin-right: 5px;
                }

                .span{
                    font-size: 15px;
                    font-weight: 500;
                }
            }
     

            .hamburger{
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;

                span{
                    width: 100%;
                    height: 3px;
                    background-color: $secondaryColor;;
                    transform-origin: left;
                    transition: all 2s ease;
                }
            }

    }
    &.active{
        background-color: $mainColor;
        color: $secondaryColor;

        .hamburger{
            span{
                &:first-child{
                    background-color: $secondaryColor;
                    transform: rotate(45deg);
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:last-child{
                    background-color: $secondaryColor;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}